{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<div class="container text-center p-2">
  <h1>Log In</h1>


  <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>

  <div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6 mb-5">


      <form class="form fields" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn primaryAction" type="submit">{% trans "Sign In" %}</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}