{% extends "base.html" %}

{% block content %}

<h3 class="text-center">Welcome to us!</h3>
<br>
<div class="text-center">
    <p>We are a small restaurant located by the port of Helsingborg. </p>
    <p>Our menu is based on the Swedish cousine with only locally produced ingredients.</p>
    <p>We put our heart and soul into our food and we know you will feel that in the taste.</p>
    <br>
    <p>Check out our menu, you wont be disapointed!</p>
    <p>If you have any question, send us an email or give us a call.</p>
    <p>Hope to see you here soon!</p>
    <p>Best Regards</p>
    <p>Mönes Team</p>
</div>
{%endblock%}