{% extends "base.html" %}

{% block content %}

<div class="container text-center mb-2">
    <h2>Delete Booking</h2>
    <div class="row justify-content-center">
        <br>
        <div class="card form">
            <div class="card-body">

                <br>
                <p>You are about to delete your booking for:</p>
                <p>{{ booking.date }}</p>
                <p>Time: {{ booking.time }}</p>
                <br>
                <p>Do you wish to continue?</p>
                <p class="text-decoration-underline"><strong>This action cannot be undone.</strong></p>
                <form action="{% url 'delete_booking' booking.booking_id %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center mt-3">
                        <a href="{% url 'my_bookings' %}" class="btn cancel-submit mt-3">Cancel</a>
                        <button class="btn submit mt-3">Delete Booking</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}