{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center">Menu</h1>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <h2>Starters</h2>
            <hr class="column-break">
            <div class="menu-item">
                <h4>TOAST SKAGEN</h4>
                <p>shrimp, mayonnaise, vendace roe, butter-fried toast</p>
                <p class="price">Price .............. 210/295 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>STEAK TARTARE</h4>
                <p>Classic Swedish Beef Tartare; beets, capers, red onion, chives,
                    raw egg yolk & Dijon mustard</p>
                <p class="price">Price .............. 210 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>GOAT CHEESE SALAD</h4>
                <p>Goat cheese salad with roasted beetroots and walnuts</p>
                <p class="price">Price .............. 180 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>TOAST PELLE JANZON</h4>
                <p>filet of beef on toast, vendace roe, red onion & egg yolk</p>
                <p class="price">Price .............. 225 SEK</p>
            </div>
            <br>
        </div>

        <div class="col-lg-4 col-md-6">
            <h2>Mains</h2>
            <hr class="column-break">
            <div class="menu-item">
                <div class="menu-item">
                    <h4>OUR FAMOUS MEATBALLS</h4>
                    <p>meatballs in cream sauce, lingonberries, pickled cucumber,
                        potato puree</p>
                    <p class="price">Price .............. 220 SEK</p>
                </div>
                <br>
                <h4>TOMATO PIE</h4>
                <p>served with salad, roasted salad topping & Strawberry Vinegar</p>
                <p class="price">Price .............. 180 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>BIFF RYDBERG</h4>
                <p>classic minced veal pattie, lingonberries, petit pois, potatoe
                    puree</p>
                <p class="price">Price .............. 249 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>WALLENBERGARE</h4>
                <p>classic minced veal pattie, lingonberries, petit pois, potatoe puree</p>
                <p class="price">Price .............. 255 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>LINGUINI PASTA WITH SPRING ONIONS</h4>
                <p>served with pesto made of spring onions from Skåne , artichokes,
                    semi-dried tomatoes & salt-roasted almonds.</p>
                <p class="price">Price .............. 160 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>BUTTER FRIED PERCH</h4>
                <p>fried perch, sandefjors sauce, almond potatoe stomp, baked
                    leek, smoked salmon emulsion & pickled turnip</p>
                <p class="price">Price .............. 239 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>SALMON WITH DILL STEWED POTATOES</h4>
                <p>Lightly cured salmon with dill stewed potatoes</p>
                <p class="price">Price .............. 219 SEK</p>
            </div>
            <br>
        </div>

        <div class="col-lg-4 col-md-6">
            <h2>Desserts</h2>
            <hr class="column-break">
            <div class="menu-item">
                <h4>RHUBARB PIE</h4>
                <p>baked with almond pulp and brown sugar & served with homemade custard</p>
                <p class="price">Price .............. 85 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>MERINGUE SWISS</h4>
                <p>Meringue swiss, elderberry ice cream, strawberry cream, strawberry sauce</p>
                <p class="price">Price .............. 95 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>SWEDISH CHOCOLATE BALL</h4>
                <p>An absolutely delicious chocolate ball with roasted coconut</p>
                <p class="price">Price .............. 35 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>FRENCH TOAST "FATTIGA RIDDARE"</h4>
                <p>with apple compote, oat crumble, cardamom ice cream, cinnamon and almond crackers</p>
                <p class="price">Price .............. 95 SEK</p>
            </div>
            <br>
            <div class="menu-item">
                <h4>LEMON CAKE</h4>
                <p>with rhubarb sorbet, lemon curd, dried blueberries, baked white chocolate and lemon meringue</p>
                <p class="price">Price .............. 98 SEK</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}